.footer {
  width: 100%;
  padding: 80px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  direction: rtl;
}

.topRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: ltr;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.links {
  display: flex;
  align-items: center;
  gap: 28px;
  flex-wrap: wrap;
  direction: rtl;
  text-align: right;
}

.links span {
  cursor: pointer;
  font-size: 14px;
  color: var(--text-primary);
  transition: 0.2s;
  white-space: nowrap;
}

.links span:hover {
  color: var(--primary-color);
}

.socialButton {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.socialIcon {
  font-size: 18px;
  color: #fff;
}

.payments {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.paymentBox {
  min-width: 60px;
  height: 34px;
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

.paymentImage {
  height: 15px;
  width: 30px;
  object-fit: contain;
}

@media (max-width: 900px) {
  .topRow {
    flex-direction: column;
    gap: 20px;
    direction: rtl;
  }

  .links {
    justify-content: center;
    text-align: center;
  }
}